// Animations

@keyframes fadeIn {
    from {
        opacity: 0
    } to {
        opacity: 1
    }
}

// Elements

.banner {
    background-size: cover !important;
    background-position: center center !important;
    min-height: 400px;
    position: relative;

    @media only screen and (max-width: 668px) {
        min-height: 200px;
    }
    animation: fadeIn 2s;
}

.banner__text {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 75px;
    width: 315px;
    text-align: right;
    transform: translateY(-50%);
}

.align-left {
    left: 75px;
    right: 0;
}

.banner__headline {
    line-height: 30px;
    font-size: 26px;
    margin: 0;
    font-weight: bold;
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.banner__desc {
    display: block;
    position: relative;
    font-size: 16px;
    margin-bottom: 12px;
}

.white-text {
    color: white !important;
    .banner__headline {
        color: white !important;
    }
}

.banner__button {
    background-color: #FF9500;
    border: none;
    border-radius: 6px;
    padding: 7px 13px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;

    &:hover {
        background-color: #CC7700;
    }

    &:visited {
        color: white;
    }
}