<app-topbar></app-topbar>
<app-banner
    title="Simple, smart home monitoring"
    desc="for independence and peace of mind."
    image="https://www.canarycare.co.uk/media/banners/Homepage_hero_v4.jpg.750x350_q95_crop--25%2C10_upscale.jpg"
    className="align-right"
    displayButton="false"></app-banner>
<app-buttonbar></app-buttonbar>
<app-banner
    title="No wires. no Wi-Fi, just peace of mind"
    desc="The discreet, wireless sensors monitor movement, temperature and door activity, which you can view from anywhere via a very clever portal. You don’t need an internet connection or a phone line and you can enable text and email alerts."
    image="https://www.canarycare.co.uk/media/banners/Hub_in_hallway.jpg.750x350_q95_crop--25%2C10_upscale.jpg"
    className="align-right"
    buttonText="How can Canary care help?"
></app-banner>
<app-banner
    title="Check in, without checking up"
    desc="24 hours a day, 7 days a week, from your mobile, tablet or computer"
    image="https://www.canarycare.co.uk/media/banners/1170x400_Check_In.png.750x350_q95_crop-25%2C10_upscale.jpg"
    className="align-left"
    buttonText="Meet the Canary Care portal"
></app-banner>
<app-reviewbar></app-reviewbar>
<app-banner
    title="Not just data, but insight"
    desc="Canary Care takes the data and gives you insight, to help you make the right call and prevent little niggles turning into bigger problems."
    image="https://www.canarycare.co.uk/media/banners/Phone-on-desk.jpg.750x350_q95_crop-25%2C10_upscale.jpg"
    className="align-left white-text"
    buttonText="Show me how"
></app-banner>
<app-banner
    title="6 Sensor Package"
    desc="From £178.80 with a £31.20/month subscription."
    image="https://www.canarycare.co.uk/media/banners/canary_pkg_2_WMag6qR.png.750x350_q95_crop--25%2C-10_upscale.jpg"
    className="white-text"
    displayButton="false"
></app-banner>
<app-included></app-included>
<app-footer></app-footer>